# [Dataset-houses-in-london/kaggle](https://www.kaggle.com/datasets/oktayrdeki/houses-in-london)

## Q1
*  Load the Data
*  Display the First 5 Entries
*  Display the Last 5 Entries
*  View Dataset Information
*  Generate Descriptive Statistics (Numeric and Categorical Data)

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("./data/london_houses.csv")

In [5]:
df.head()

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£)
0,78 Regent Street,Notting Hill,2,3,179,72,No,No,3,Semi-Detached,Electric Heating,High-level Balcony,Industrial,Garden,Marble,Renovated,2291200
1,198 Oxford Street,Westminster,2,1,123,34,Yes,No,1,Apartment,Central Heating,High-level Balcony,Industrial,City,Laminate Flooring,Old,1476000
2,18 Regent Street,Soho,5,3,168,38,No,Yes,3,Semi-Detached,Central Heating,No Balcony,Industrial,Street,Wood,Renovated,1881600
3,39 Piccadilly Circus,Islington,5,1,237,53,Yes,Yes,1,Apartment,Underfloor Heating,No Balcony,Classic,Park,Granite,Renovated,1896000
4,116 Fleet Street,Marylebone,4,1,127,23,No,Yes,2,Semi-Detached,Central Heating,No Balcony,Modern,Park,Wood,Old,1524000

In [6]:
df.tail()

,Address,Neighborhood,Bedrooms,Bathrooms,Square Meters,Building Age,Garden,Garage,Floors,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status,Price (£)
995,44 Camden High Street,Westminster,1,3,81,4,Yes,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Modern,Street,Laminate Flooring,Renovated,1166400
996,165 Park Lane,Camden,1,1,65,51,No,No,1,Apartment,Underfloor Heating,No Balcony,Industrial,Garden,Wood,Old,563333
997,99 Camden High Street,Camden,4,1,191,27,No,Yes,2,Semi-Detached,Central Heating,Low-level Balcony,Minimalist,Park,Laminate Flooring,Old,1986399
998,155 Park Lane,Camden,5,2,131,3,Yes,No,2,Detached House,Underfloor Heating,High-level Balcony,Modern,Park,Laminate Flooring,Renovated,1703000
999,145 Baker Street,Kensington,4,2,185,53,No,No,1,Apartment,Electric Heating,No Balcony,Modern,Street,Wood,Old,2343333

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Address          1000 non-null   object
 1   Neighborhood     1000 non-null   object
 2   Bedrooms         1000 non-null   int64
 3   Bathrooms        1000 non-null   int64
 4   Square Meters    1000 non-null   int64
 5   Building Age     1000 non-null   int64
 6   Garden           1000 non-null   object
 7   Garage           1000 non-null   object
 8   Floors           1000 non-null   int64
 9   Property Type    1000 non-null   object
 10  Heating Type     1000 non-null   object
 11  Balcony          1000 non-null   object
 12  Interior Style   1000 non-null   object
 13  View             1000 non-null   object
 14  Materials        1000 non-null   object
 15  Building Status  1000 non-null   object
 16  Price (£)        1000 non-null   int64
dtypes: int64(6), object(11)
memory usage: 132.9+ KB

In [8]:
df.describe()

,Bedrooms,Bathrooms,Square Meters,Building Age,Floors,Price (£)
count,1000.000000,1000.000000,1000.0000,1000.00000,1000.000000,1.000000e+03
mean,3.013000,2.003000,149.6270,49.96500,1.991000,1.840807e+06
std,1.393834,0.808483,58.0562,29.07086,0.821946,8.793484e+05
min,1.000000,1.000000,50.0000,1.00000,1.000000,3.866660e+05
25%,2.000000,1.000000,99.0000,24.00000,1.000000,1.161400e+06
50%,3.000000,2.000000,148.0000,50.00000,2.000000,1.721999e+06
75%,4.000000,3.000000,201.0000,76.00000,3.000000,2.390500e+06
max,5.000000,3.000000,249.0000,99.00000,3.000000,4.980000e+06

In [9]:
df.describe(include="O")

,Address,Neighborhood,Garden,Garage,Property Type,Heating Type,Balcony,Interior Style,View,Materials,Building Status
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,770,10,2,2,3,4,3,4,5,4,3
top,96 King's Road,Kensington,Yes,Yes,Detached House,Electric Heating,No Balcony,Classic,Sea,Wood,Renovated
freq,4,114,512,501,349,266,340,263,210,264,341

## Q2
*  Check and Resolve Duplicate Entries
*  Check and Handle Missing Values

In [37]:
df.isna().sum()

Address            0
Neighborhood       0
Bedrooms           0
Bathrooms          0
Square Meters      0
Building Age       0
Garden             0
Garage             0
Floors             0
Property Type      0
Heating Type       0
Balcony            0
Interior Style     0
View               0
Materials          0
Building Status    0
Price (£)          0
dtype: int64

In [41]:
df.duplicated().sum()

0

## Q3
* Using aggregate function to calculate (Max, Min, Mean) of sales column

## Q4
* Generate a column that specifies the price per square meter (.2F).
* Generate a column that specifies the total rooms in house

## Q5
*  What is the oldest house and price of it ?
*  What is the newest house and price of it ?
> note(If there is more than one, calculate their mean.)

## Q6
*  Transform : (Garden , Garage) to numeric by mapping

> note:(Yes = 1 / No = 0)

## Q7
* Generate pivot tables for indexing by the following categories: (Neighborhood, Property Type, Heating Type, Balcony, View, Materials, and Building Status). The values will represent the mean price for each category.

* save each of them in a separate sheet within an Excel file